.header-fixed
  .container
    .row
      %a.site-logo
        edeya
        %span.strong
          labs
      .main-nav
        
        %a.email-nav hello@edeyalabs.com
        / %a= link_to t("jobs.main"), "http://jobs.edeyalabs.com"
