.header-fixed
  .container
    .row
      %a.site-logo
        edeya
        %span.strong
          labs
      .main-nav
        %a#navHome=t "home.main"
        %a#navAbout=t "about.main"
        %a#navTeam=t "team.main"
        %a#navContact=t "contact.main"
        / %a= link_to t("jobs.main"), "http://jobs.edeyalabs.com"
