#bgoverlay
%nav.top-nav.fixed
  = link_to t("home.main"), nil, :id => "navHome"
  = link_to t("about.main"), nil, :id => "navAbout"
  = link_to t("team.main"), nil, :id => "navTeam"
  = link_to t("contact.main"), nil, :id => "navContact"


