.hero
  .container
    .row
      
      
      %h1.main
        We make great web apps for scalablity and availability
      %h2.desc
        We are a web development agency specializing in SaaS applications for startups and other web companies.

      %a.square-more
        more
      
