%section.top-section#sectionHome
  .container
    .row
      .twelvecol.last
        .logo
        %h1.main
          We’d make a great extension of your team  
        %h2.desc
          We’ll take on all the challenges that come in building great apps to help you succeed.
        /   =t 'tag_line'
