%section.about-section#sectionAbout
  .container
    .row
      .twelvecol.last
        .block
          %h4
            WHAT WE DO
        .tree
          .ball
        .block.group
          .sixcol
            .cell.text-left
              %h3=t 'about.steps.one'
              =t 'about.steps.one_desc'
          .sixcol.last
            .cell.text-left
              %h3=t 'about.steps.two'
              =t 'about.steps.two_desc'
          .group
            .sixcol
              .cell.text-left
                %h3=t 'about.steps.three'
                =t 'about.steps.three_desc'
            .sixcol.last
              .cell.text-left
                %h3=t 'about.steps.four'
                =t 'about.steps.four_desc'
