%section.about-section#sectionAbout
  .container
    .row
      .twelvecol.last
        .block
          %h4
            WHAT WE DO
        .tree
          .ball
        .block.group
          .sixcol
            .cell.text-left
              %h3 Web Development
              =t 'lorem'
          .sixcol.last
            .cell.text-left
              %h3 E-Commerce
              =t 'lorem'
          .group
            .sixcol
              .cell.text-left
                %h3 Design
                =t 'lorem'
            .sixcol.last
              .cell.text-left
                %h3 Product Development
                =t 'lorem'
