%section.about-section#sectionAbout
  .container
    .row
      .twelvecol.last
        .block
          %h4
            WHAT WE DO
        .tree
          .ball
        .block.group
          .sixcol
            .cell.text-left
              %h3 Development
              Being involved in every step of a project is the only way to guarantee it'll be a great one. Our developers work closely with our designers to make sure every product we ship is excellent, all the way through.
          .sixcol.last
            .cell.text-left
              %h3 E-Commerce
              We help you put up your own online business. With an easy to manage dashboard, you can sell your products online fast to your customers. We work with you to make sure all you need for your online business is met. 
          .group
            .sixcol
              .cell.text-left
                %h3 Design
                Great design is about more than just looking good – it's about creating an experience that feels natural to the user. We work hard until we're sure that your users will enjoy every second they spend with your product.
            .sixcol.last
              .cell.text-left
                %h3 Product Development
                After listening closely to a client's needs, we use our knowledge and experience to carefully craft a strategy that'll help them deliver an amazing product. One that their customers will enjoy using, time and time again.
