%section.about-section#about
  %header.centered
    %h2.head=t 'about.main'
    .orange-dot
    %h3=t 'about.sub'

  .container
    .one-third.column.alpha
      .sub-section
        %h3=t 'about.steps.one'
        .block
          %p=t 'about.steps.one_desc'

    .one-third.column
      .sub-section
        %h3=t 'about.steps.two'
        .block
          %p=t 'about.steps.two_desc'


    .one-third.column.omega
      .sub-section
        %h3=t 'about.steps.three'
        .block
          %p=t 'about.steps.three_desc'
     
    .columns.sixteen.alpha
      .block
        %p=t 'about.paragraphs.one'


