%section.contact-section#contact{ :style => "padding-bottom: 0;" }
  %header.centered
    %h2.head=t 'contact.main'
    .orange-dot
    %h3=t 'contact.sub'

.container.centered
  .block
    %p=t 'contact.email'
  .block
    %p=t 'contact.mobile'
  .block
    %p=t 'contact.skype'


