%section.contact-section#sectionContact
  .container 
    .row 
      .twelvecol.last 
        .block 
          %h4 
            CONTACT US
          .tree
            .ball
          .block.group
            .sixcol
              .cell.text-left
                %h3 Get in touch
                You can say hello or if you're interested to work with us and help you out on your projects, send us a message or email us
                %span.contact-email
                  hello@edeyalabs.com
            .sixcol.last
              .cell.text-left
                .form
                  %fieldset
                    %input.error{ :type => 'email', :placeholder => 'Your Email' }
                  %fieldset
                    %input{ :type => 'text', :placeholder => 'Your Name' }
                  %fieldset
                    %textarea{ :placeholder => 'Message' }
                  %fieldset.text-right
                    %button.btn-submit
                      Send
