%section.contact-section#sectionContact
  .container
    .row
      .twelvecol.last
        .block
          %h4=t 'contact.main'
          .tree
            .ball
          .block.group
            .sixcol
              .cell.text-left
                %h3=t 'contact.sub'
                =t 'contact.text'
                %span.contact-email
                  =t 'contact.email'

            .sixcol.last
              .cell.text-left
                .form
                  .form-message.success
                    %strong
                      Awesome. 
                    We'll get in touch with you as soon as possible.
                  %fieldset
                    %input.error{ :type => 'email', :placeholder => 'Your Email' }
                  %fieldset
                    %input{ :type => 'text', :placeholder => 'Your Name' }
                  %fieldset
                    %textarea{ :placeholder => 'Message' }
                  %fieldset.text-right
                    %button.btn-submit
                      Send
