%nav.menu-navigation{ :style => "display: block;" }
  %ul
    %li.about
      %a{ :href => "#home" }
        %span=t 'home.main'
    %li.process
      %a.scroll{ :href => "#about" }
        %span=t 'about.main'
    %li.projects
      %a.scroll{ :href => "#team" }
        %span=t 'team.main'
    %li.contact
      %a.scroll{ :href => "#contact" }
        %span=t 'contact.main'

%nav.menu-navigation-2.fixed.hide{ :style => "display: none;" }
  %ul
    %li.about
      %a{ :href => "#home" }=t 'home.main'
    %li.process
      %a{ :href => "#about"}=t 'about.main'
    %li.projects
      %a{ :href => "#team" }=t 'team.main'
    %li.contact
      %a{ :href => "#contact" }=t 'contact.main'


