%section.process
  %header.centered
    %h2.process-head
    .orange-dot
    %h3=t 'process.sub'

.container
  .block
    %p=t 'process.paragraphs.one'
  .block
    %p=t 'process.paragraphs.two'

  .one-third.column.alpha
    .sub-section
      %h3=t 'process.steps.one'
      .block
        %p=t 'process.steps.one_desc'

  .one-third.column
    .sub-section
      %h3=t 'process.steps.two'
      .block
        %p=t 'process.steps.two_desc'


  .one-third.column.omega
    .sub-section
      %h3=t 'process.steps.three'
      .block
        %p=t 'process.steps.three_desc'

