%section.projects
  %header.centered
    %h2.projects-head
    .orange-dot
    %h3=t 'projects.sub'

.container
  .block
    %p=t 'projects.paragraphs.one'
  .block
    %p=t 'projects.paragraphs.two'


