%section.team-section#sectionTeam
  .container
    .row
      .twelvecol.last
        .block
          %h4
            =t 'team.main'
        .tree
          .ball
        .block.group
          .twelvecol.last
            .block.group
              .team-container#profileHarry
                .team-data-overlay
                  %h3
                    =t 'team.steps.one'
                  =t 'team.steps.one_desc'
              .team-container#profileVince
                .team-data-overlay
                  %h3
                    =t 'team.steps.two'
                  =t 'team.steps.two_desc'
              .team-container#profileHarvey
                .team-data-overlay
                  %h3
                    =t 'team.steps.three'
                  =t 'team.steps.three_desc'
            .block.group
              .sixcol
                .cell.text-left
                  %h3=t 'team.descriptions.one'
                  =t 'team.descriptions.one_text'
              .sixcol.last
                .cell.text-left
                  %h3=t 'team.descriptions.two'
                  =t 'team.descriptions.two_text'

