%section.team-section#sectionTeam
  .container 
    .row 
      .twelvecol.last 
        .block
          %h4
            WHO WE ARE
        .tree
          .ball
        .block.group
          .twelvecol.last
            .block.group
              .team-container
                .team-data-overlay
                  %h3
                    Harry
                  Project Manager
              .team-container
                .team-data-overlay
                  %h3
                    Vince
                  Ruby Developer
              .team-container
                .team-data-overlay
                  %h3
                    Harvey
                  Web Designer / UI
            .block.group
              .sixcol
                .cell.text-left
                  %h3 Small and Focused
                  We're small and easy to integrate, we don't take on many projects at once. We work closely with our clients and people involved, build relationships and put them on our team to help get feedback faster and move forward together. 
              .sixcol.last
                .cell.text-left
                  %h3 Fast Workflow
                  With solid experience working in the industry, we've come to learn how to incorporate different approaches to working fast and efficient with our team members to deliver projects fast. 

