.hero.hero-small
  .container
    %h1.hero-headline=t 'about.main_headline'
    %h2.hero-subheadline=t 'about.main_subheadline'

.doc-section
  .container
    .four.columns.alpha
      = render 'about_sidebar'

    .twelve.columns.omega
      .process-methods
        .doc-section
          %h2.lite=t 'methods.first'
          %p=t 'methods.first_text'
        .arrow-down

        .doc-section
          %h2.lite=t 'methods.second'
          %p=t 'methods.second_text'
        .arrow-down

        .doc-section
          %h2.lite=t 'methods.third'
          %p=t 'methods.third_text'
        .arrow-down

        .doc-section
          %h2.lite=t 'fourth.first'
          %p=t 'methods.fourth_text'
        .arrow-down

        .doc-section
          %h2.lite=t 'methods.fourth'
          %p=t 'methods.fourth_text'
        .arrow-down

        .doc-section
          %h2.lite=t 'methods.fifth'
          %p=t 'methods.fifth_text'
        .arrow-down

        .doc-section
          %h2.lite=t 'methods.sixth'
          %p=t 'methods.sixth_text'
