.hero.hero-small
  .container
    %h1.hero-headline=t 'services.headline'
    %h2.hero-subheadline=t 'services.subheadline'

.doc-section
  .container
    %h2.lite=t 'services.main_text'
    %p=t 'services.sub_text'

    .doc-section.service-items
      .one-third.column.alpha
        %h3.lite=t 'services.first'
        %p=t 'services.first_text'
      .one-third.column
        %h3.lite=t 'services.second'
        %p=t 'services.second_text'
      .one-thid.column.omega
        %h3.lite=t 'services.third'
        %p=t 'services.third_text'

  .doc-section
    .container
      .contact-banner.clearfix
        .container
          .twelve.columns.alpha
            %h3=t 'services.contact_header'
            %p=t 'services.contact_text'

          .four.columns.omega
            %p= "Call us at #{t('phone_number')}"
            %p=t 'email'
