.hero.hero-small
  .container
    %h1.hero-headline=t 'services.headline'

.doc-section
  .container
    .eight.columns.alpha
      %h2.lite=t 'services.first'
      %p=t 'services.first_text'
    .eight.columns.alpha
      %h2.lite=t 'services.second'
      %p=t 'services.second_text'

  .doc-section
    .container
      .contact-banner.clearfix
        .container
          .twelve.columns.alpha
            %h3=t 'services.contact_header'
            %p=t 'services.contact_text'

          .four.columns.omega
            %p= "Call us at #{t('phone_number')}"
            %p=t 'email'

.doc-section
  .container
    %h2.lite=t 'services.social'
    %p=t 'services.social_first'
    %p=t 'services.social_second'

.doc-section
  .container
    .contact-banner.clearfix
      .container
        .twelve.columns.alpha
          %h3=t 'services.second_contact_header'
          %p=t 'services.second_contact_text'

        .four.columns.omega
          %p= "Call us at #{t('phone_number')}"
          %p=t 'email'
