/* #Reset & Basics (Inspired by E. Meyers)
 *==================================================

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  background: #fff
  font: 18px / 1.4 "OpenSansLight", Arial, sans-serif
  color: #676767
  -webkit-font-smoothing: antialiased
  /* Fix for webkit rendering
  -webkit-text-size-adjust: 100%

a
  cursor: pointer
  &.logo
    display: inline-block
    width: 255px
    height: 58px
    background: image-url('sprite.png') no-repeat 0 0

.top-header
  text-align: center
  margin-top: 20px

.orange-dot
  width: 10px
  height: 10px
  margin: 0 auto
  background: #f76d43
  border-radius: 50%
  margin: 10px auto

.menu-navigation
  text-align: center
  margin-top: 60px
  position: relative
  li
    display: inline-block
    position: relative
    a
      width: 230px
      height: 90px
      display: block
      background: #f1f1f1
      position: relative
      color: #fff
      -webkit-transition: all .1s ease-in-out
      -moz-transition: all .1s ease-in-out
      transition: all .1s ease-in-out
  span
    position: absolute
  li
    &.about
      right: -120px
      z-index: 1000
      a
        background: #43bef7
        font-size: 30px
        letter-spacing: -1px
        span
          bottom: 0px
          left: 10px
    &.contact
      left: -120px
      z-index: 1010
      a
        background: #f1853d
        span
          bottom: 5px
          right: 10px
    &.process
      top: -30px
      z-index: 1030
      right: -40px
    &.about a:hover
      right: 5px
    &.process a:hover
      left: 5px
      bottom: 5px
    &.projects a:hover
      top: 5px
    &.contact a:hover
      right: 5px
      top: -5px

.color-burst
  background: image-url('color-burst.png') repeat-x
  height: 82px

.menu-navigation li
  &.process a
    background: #4be47d
    font-size: 24px
    span
      top: 0px
      right: 10px
  &.projects
    bottom: -30px
    left: -90px
    z-index: 1040
    a
      z-index: 1040
      background: #c8ba98
      font-size: 26px
      span
        bottom: 5px
        right: 10px

.menu-navigation-2
  width: 100%
  z-index: 999
  &.hide
    display: none
  &.fixed
    position: fixed
    top: 0
    left: 0
  li
    display: inline-block
    float: left
    text-align: center
    width: 25%
    a
      padding: 10px
      color: #fff
      text-decoration: none
      display: block
      -webkit-transition: all .1s ease-in-out
      -moz-transition: all .1s ease-in-out
      transition: all .1s ease-in-out
      &:hover
        padding-top: 15px
    &.about a
      background: #43BEF7
    &.process a
      background: #4BE47D
    &.projects a
      background: #C8BA98
    &.contact a
      background: #F1853D

h2
  &.about-head
    background: image-url('sprite.png') no-repeat 0 -59px
    height: 49px
    width: 146px
    margin: 0 auto
  &.process-head
    background: image-url('sprite.png') no-repeat 0 -120px
    height: 49px
    width: 191px
    margin: 0 auto
  &.projects-head
    background: image-url('sprite.png') no-repeat 0 -170px
    height: 57px
    width: 201px
    margin: 0 auto
  &.contact-head
    background: image-url('sprite.png') no-repeat 0 -229px
    height: 44px
    width: 190px
    margin: 0 auto

.content
  margin: 50px 0
  header
    margin-bottom: 50px
    margin-top: 50px

.centered
  text-align: center

.block
  margin: 20px 0
  p
    line-height: 1.8

.sub-section
  font-size: 16px
  h3
    font-size: 50px

.contact-form
  width: 400px
  margin: 0 auto
  input[type='text'], textarea
    border: none
    background: #f1f1f1
    border: 1px solid #e1e1e1
    padding: 15px
    font-size: 16px
    font-family: 'OpenSansLight'
  input[type='text']:focus, textarea:focus
    background: #fff
  fieldset
    margin: 10px 0
  input
    &[type=submit]
      border: none
      cursor: pointer
      padding: 15px
      font-size: 16px
      background: #43bef7
      font-family: 'OpenSansLight'
      color: #fff
    width: 100%
    box-sizing: border-box
    outline: none
